// Typography:
$font-1: 0.625rem;
$font-2: 0.75rem;
$font-3: 0.875rem;
$font-4: 1rem;
$font-5: 1.125rem;
$font-6: 1.375rem;
$font-7: 1.5rem;
$font-8: 2.5rem;
$font-9: 3.5rem;
$font-10: 4rem;


// Colors:-
$white: hsl(0, 0, 100%);
$brownish-pink: hsl(313, 5%, 24%);
$black: hsl(0, 0, 0);
$brownish-golden: hsl(31, 47%, 63%);
$gray: hsl(0, 0%, 85%);
$light-gray: hsl(0, 0, 49%);
$mid-light-gray: hsl(0, 0, 98%);
$very-light-gray: hsl(0, 0, 99%);


// Font-weight:-
$light: 300;
$reg: 400;
$med: 500;
$sembold: 600;
